@*
    Nessa pagina você pode fazer o cadastro de algum evento, essa página ela é acessada pelo botão de + na pagina de listar eventos
    nela vai conter as seguintes coisas 

    -Campos para cadastrar o novo evento {
        Nome, Data, Descrição, Imagem do evento, horario, local,    
    }

    Eles vão estar dispostos com a imagem primeiro, onde vaie star vazio, clicar e colocar a imagem lá via upload
    Tudo vai estar centralizado no meio
    Em seguida todos os campos do form vai ser apresentados
    Por fim o botão de salvar

    Ao Salvar vai aparecer um popup de confirmação do cadastro de eventos
*@
@{
    ViewData["Title"] = "Cadastrar Eventos";
}


<!--A estrutura ta pronta, já pode pasar para a correção e ajustes-->

<header>
    <div id="div_Title">
        <h1 id="h_Title" class="">Cadastrar Eventos</h1>
        <p id="p_TitleDescription" class="">Preencha todos os campos para realizar o cadastro completo</p>
    </div>
    <div id="div_Voltar">
        <a href="#">
            <!--Aqui vai ter um botão com o icone de voltar, nesse caso volta para a pagina anterior, a de listar eventos-->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
    </div>
</header>

<main>
    <form>
        <div id="div_imgs">
            <label for="img_evento"></label>
            <img src="#" id="img_evento" alt="Foto do evento"/>
        </div>
        <!--Aqui vão todos os campos necessários para fazer o cadastro de um novo evento-->
        <div id="div_Campos">
            <label for="inpt_Nome">Nome:</label>
            <input type="text" name="Nome" id="intp_Nome" placeholder="Nome do Evento" class="" required />

            <label for="inpt_Data">Data:</label>
            <input type="date" name="Data" id="inpt_Data" placeholder="Data do Evento" class="" required />

            <label for="inpt_Horario">Horário:</label>
            <input type="time" name="Horario" id="inpt_Horario" placeholder="Horario do Evento" class="" required/>

            <label for="inpt_Local">Local:</label>
            <input type="text" name="Local" id="inpt_Local" placeholder="Local do Evento" class="" required/>

            <label for="inpt_Descricao">Descrição:</label>
            <textarea name="Descricao" id="txt_Descricao" class="" required></textarea>
        </div>
        <div id="div_Btn">
            <button id="btn_Criar" class="">Criar</button>
        </div>
    </form>
    <!--Pop de confirmação do cadastro do evento-->
    <div id="div_PopUp">
        <div id="div_TitlePop">
            <h3 id="h_TitlePop" class="">Deseja criar esse evento?</h3>
            <p id="p_DescriptionPop" class="">Após sua criação ele será visivel para os clientes</p>
        </div>
        <div id="div_ButtonsPop">
            <button id="btn_CancelarPop" class="">Cancelar</button>
            <button id="btn_ConfirmarPop" class="">Confirmar</button>
        </div>
    </div>
</main>

<footer>
    <!--Footer por padrão, mas em si não é tanto necessário pra essa tela-->
    <p id="p_VersaoSistema"></p>
</footer>