@*
    Essa tela vai ser responsável por fazer o cadasro de novos usuários no sistema.
    Ela deve conter: 
    - Um formulário com os campos necessários para o cadastro sendo eles {
        - Nome
        - Email
        - CPF
        - Senha
        - Confirmação de senha
        - Botão de submit (Cadastrar)
        - Link para a tela de login (Já tenho uma conta) 
    }
*@
@{
    ViewData["Title"] = "Cadastrar Usuário";
}

<header>
    <!--Aqui deve ter uma mensagem de bem vindo e o nome do site-->
    <h1>Bem vindos a Eventos</h1>
</header>
